
*.cache
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/Debug/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.csprojAssemblyReference.cache
FlightSimulator/obj/Debug/netcoreapp3.1/FlightSimulator.dll
*.v2
.vs/FlightSimulator/v16/.suo
FlightSimulator/obj/x64/Release/netcoreapp3.1/FileLoader.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/LineChart_view.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MediaPlayer.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator_MarkupCompile.i.lref
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.dll
.vs/FlightSimulator/v16/.suo
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Release/netcoreapp3.1/showDirection.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/showDirection.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAltitude.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAltitude.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAirspeed.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/showAirspeed.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/MainWindow.baml
FlightSimulator/obj/x64/Release/netcoreapp3.1/LineChart_view.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator_MarkupCompile.lref
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.g.resources
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.dll
FlightSimulator/obj/x64/Release/netcoreapp3.1/FlightSimulator.csproj.FileListAbsolute.txt
FlightSimulator/obj/x64/Release/netcoreapp3.1/DataViewer.g.i.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/DataViewer.g.cs
FlightSimulator/obj/x64/Release/netcoreapp3.1/DataViewer.baml
FlightSimulator/FlightSimulator.csproj.user
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.pdb
FlightSimulator/bin/x64/Release/netcoreapp3.1/FlightSimulator.dll
.vs/FlightSimulator/v16/.suo
.vs/FlightSimulator/DesignTimeBuild/.dtbcache.v2
